body{
    background-color: rgb(252, 234, 187);
    
}
.hidden{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
.nvg{
    margin-top: 10px;
}
#showFormButton{
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
#showFormButton, #log, #redact_profile, #logout{
    display: inline-block;
    background-color: antiquewhite;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
#showFormButton:hover, #log:hover, #redact_profile:hover, #logout:hover{
    background-color: rgb(251, 240, 200);
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
}
/* admin */
#admin{
    background-color: white;
}
#admin table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#admin a{
    text-decoration: underline;
    color: blue;
    width: 100%;
}
#admin button{
    width: 100%;
}
#b_a_p{
    border: 1px solid black;
    background-color: antiquewhite;
}
#b_a_p:hover{
    background-color: rgb(251, 240, 200);
}

/* log */

body.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#login-container {
    background-color: rgb(255, 248, 219);
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#login-container h1{
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}
#login-container p{
    margin-top: 5px;
    color:red;
    font-size: 14px;
    margin-bottom: 5px;
}
#login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    box-sizing: border-box;
}

#login-container button {
    width: 100%;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
}

#login-container button:hover{
    background-color: rgb(251, 240, 200);
}
#login-container a{
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}
#login-container a:hover{
    text-decoration: underline;
}
#login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

/* reg */
body.register-page {
    background-color: rgb(252, 234, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#register-container {
    background-color: rgb(255, 248, 219);
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#register-container h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
}

#register-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

#register-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    box-sizing: border-box;
}

#register-container button {
    width: 100%;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
}

#register-container button:hover {
    background-color: rgb(251, 240, 200);
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
    color: black;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* index */

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
#submittedForms{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
    background-color: rgb(252, 234, 187);
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
}
.submit{
    flex: 1 1 calc(50% - 10px);
    border: 1px solid black;
    box-sizing: border-box;
    text-align: left;   
    background-color: rgb(255, 248, 219);
    word-wrap: break-word;
    word-break: break-all;
    margin: 0 5px 10px 5px;
}
.submit:nth-child(2n+1):last-child{
    flex: 1 1 100%;
    margin-right: 0;
}
.submit:hover{
    background-color: rgb(251, 240, 200);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.submit h2{
    padding-left: 5px;
    margin: 0;
}
.submit p{
    padding-left: 5px;

    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
}

/* mk */

#info{

    margin: auto;
}
p{
    margin: 0px;
    padding: 0px;
}
#name,#task, #button{
    background-color: rgb(255, 248, 219);
    border: 1px solid black;
    width: 600px;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
        }
#task{
    height: 350px;
    border-top: none;   
    box-sizing: border-box;
    resize: none;
}
#div_task{
    margin: 0px;
}
#button{
    background-color: antiquewhite;
    cursor: pointer;
    margin: 15px;
}
#button:hover{
    background-color: rgb(251, 240, 200);
}
h1{
    text-align: center;
}

/* edit */

body.update-note-page {
    background-color: rgb(252, 234, 187);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#update-note-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
#update-note-container input{
    background-color: rgb(255, 248, 219);
    border: 1px solid black;
    width: 600px;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
}
#update-note-container textarea{
    background-color: rgb(255, 248, 219);
    border: 1px solid black;
    width: 600px;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    height: 350px;
    border-top: none;   
    box-sizing: border-box;
    resize: none;
}
#update-note-container button{
    background-color: antiquewhite;
    cursor: pointer;
    border: 1px solid black;
    width: 600px;
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
}
#update-note-container button:hover{
    background-color: rgb(251, 240, 200);
}
#update-note-container h1{
    text-align: center;
}
#update-note-container p{
    margin: 0px;
    padding: 0px;
}
#back{
    display: block;
    cursor: pointer;
    border: 1px solid black;
    width: 600px;
    margin: 0 15px 15px 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: antiquewhite;
    text-align: center;

}
#back:hover{
    background-color: rgb(251, 240, 200);
}
.buttons-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}
.buttons-container button{
    flex: 1;
    width: 100%;
    background-color: antiquewhite;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}
.buttons-container button:hover{
    background-color: rgb(246, 226, 156);
}
.header-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 10px; 
}
.delete-button.del{
    border-right: none;
}
/* print */

#note-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch;
    height: 100vh; 
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(252, 234, 187);
}

#note-container h1 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(255, 248, 219);
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
}

#note-container p {
    flex: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: auto;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(255, 248, 219);
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    border-top: none;
    margin: 0;
}

.button-container {
    top: 10px;
    right: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
#note-container a{
    width: calc(50% - 5px);
    background-color: antiquewhite;
    border: 1px solid black;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

#note-container a:hover {
    background-color: rgb(251, 240, 200);
}

/* redact profile page */

body.redact-profile-page {
    background-color: rgb(252, 234, 187);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.profile-container{
    width: 50vh;
    padding: 50px;
    border: 1px solid black;
    background-color: rgb(255, 248, 219);
}
.profile-section button{
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}
.profile-section a{
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}
.profile-section a:hover{
    background-color: rgb(251, 240, 200);
}
#delete{
    background-color: rgb(255, 102, 102);
    margin-bottom: 10px;
}
.profile-section {
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}
.profile-section input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 10px;
}
.profile-section button:hover{
    background-color: rgb(251, 240, 200);

}
#delete:hover {
    background-color: rgb(255, 77, 77);
}
#change_password{
    display: inline-block;
}

/* pag */

.pagination{
    clear: both;
    display: block;
    margin:auto;
    width: 50%;
    text-align: center;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}

.pagination a.active {
    font-weight: bold;
    text-decoration: underline;
}

@media print {
    .button-container {
        display: none;
    }

    #note-container {
        border: none;
        box-shadow: none; 
        background-color: white;
    }

    #note-container h1 {
        border: none;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    #note-container p {
        border: none;
        font-size: 16px;
        line-height: 1.5;
        height: auto;
        overflow: visible;
    }
}
@media (max-width: 680px) {
    #formContainer{
        margin: auto;
    }
    #name, #task, #button {
        width: 100%;
        padding: 15px;
    }
    #button{
        margin: auto;
        margin-top: 10px;
    }
    #task {
        height: 200px;
    }

    .submit {
        flex: 1 1 100%;
    }

    #showFormButton, #log, #redact_profile, #logout {
        font-size: 18px;

        text-align: center;
    }

    #showFormButton{
        margin-top: 10px;
        width: 40px;
    }
    #formContainer form{
        display: block;
    }
    #update-note-container input{
        background-color: rgb(255, 248, 219);
        border: 1px solid black;
        width: 300px;
        margin: 0px;
        padding: 20px;
        box-sizing: border-box;
    }
    #update-note-container textarea{
        background-color: rgb(255, 248, 219);
        border: 1px solid black;
        width: 300px;
        margin: 0px;
        padding: 20px;
        box-sizing: border-box;
        height: 350px;
        border-top: none;   
        box-sizing: border-box;
        resize: none;
    }
    #update-note-container button{
        background-color: antiquewhite;
        cursor: pointer;
        border: 1px solid black;
        width: 300px;
        margin: 15px;
        padding: 20px;
        box-sizing: border-box;
    }
}   
