target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/datasets/2018/1/CZ010.xml
/datasets/2018/1/CZ020.xml
/datasets/2018/1/CZ031.xml
/datasets/2018/1/CZ032.xml
/datasets/2018/1/CZ041.xml
/datasets/2018/1/CZ042.xml
/datasets/2018/1/CZ051.xml
/datasets/2018/1/CZ052.xml
/datasets/2018/1/CZ053.xml
/datasets/2018/1/CZ063.xml
/datasets/2018/1/CZ064.xml
/datasets/2018/1/CZ071.xml
/datasets/2018/1/CZ072.xml
/datasets/2018/1/CZ080.xml
/datasets/2018/1/kandidati.xml
/datasets/2018/1/zahranici.xml
/datasets/2018/2/CZ010.xml
/datasets/2018/2/CZ020.xml
/datasets/2018/2/CZ031.xml
/datasets/2018/2/CZ032.xml
/datasets/2018/2/CZ041.xml
/datasets/2018/2/CZ042.xml
/datasets/2018/2/CZ051.xml
/datasets/2018/2/CZ052.xml
/datasets/2018/2/CZ053.xml
/datasets/2018/2/CZ063.xml
/datasets/2018/2/CZ064.xml
/datasets/2018/2/CZ071.xml
/datasets/2018/2/CZ072.xml
/datasets/2018/2/CZ080.xml
/datasets/2018/2/kandidati.xml
/datasets/2018/2/zahranici.xml
/datasets/2023/1/CZ010.xml
/datasets/2023/1/CZ020.xml
/datasets/2023/1/CZ031.xml
/datasets/2023/1/CZ032.xml
/datasets/2023/1/CZ041.xml
/datasets/2023/1/CZ042.xml
/datasets/2023/1/CZ051.xml
/datasets/2023/1/CZ052.xml
/datasets/2023/1/CZ053.xml
/datasets/2023/1/CZ063.xml
/datasets/2023/1/CZ064.xml
/datasets/2023/1/CZ071.xml
/datasets/2023/1/CZ072.xml
/datasets/2023/1/CZ080.xml
/datasets/2023/1/kandidati.xml
/datasets/2023/1/zahranici.xml
/datasets/2023/2/CZ010.xml
/datasets/2023/2/CZ020.xml
/datasets/2023/2/CZ031.xml
/datasets/2023/2/CZ032.xml
/datasets/2023/2/CZ041.xml
/datasets/2023/2/CZ042.xml
/datasets/2023/2/CZ051.xml
/datasets/2023/2/CZ052.xml
/datasets/2023/2/CZ053.xml
/datasets/2023/2/CZ063.xml
/datasets/2023/2/CZ064.xml
/datasets/2023/2/CZ071.xml
/datasets/2023/2/CZ072.xml
/datasets/2023/2/CZ080.xml
/datasets/2023/2/kandidati.xml
/datasets/2023/2/zahranici.xml
